[submodule "CircularBuffer"]
	path = CircularBuffer
	url = https://github.com/overlord1123/CircularBuffer.git
[submodule "LinearBuffer"]
	path = LinearBuffer
	url = https://github.com/overlord1123/LinearBuffer.git
